<body>
  <div class="container-fluid">
<div class="d-flex justify-content-center">
    <div class="col bg-danger pt-5" id="wall">
        <p class="h1 text-light my-5 ms-5"> Seja bem-vindo ao Programa de Reações <br> da Factory's Cliente. </p>
        </div>
  <div class="col bg-light tam align-middle">
    <form action="#" class="d-flex justify-content-center mt-5 pb-2" method="post">
      <div class="col-6">
        <a href="#"><img src="../../assets/smile.png" width="124" height="124" alt="Icone" /></a>
        <div class="mb-5">
        </div>
        <div class="mb-5">
          <h1 class="display-4"> Entre </h1>
        </div>
        <div class="mb-5">
          <p class="fs-6 fw-light"> Envie reações aos seus colegas e visualize as suas recebidas. </p>
        </div>
        <div class="mb-5">
          <label class="fs-7 fw-light mb-2" for="matricula">Matrícula: </label>
          <input id="matricula" class="form-control" type="text" name="matricula" placeholder="99999">
        </div>
        <div class="form-group d-flex justify-content-center mb-3">
          <button type="submit" class="btn btn-danger">Entrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
  </div>
</body>